<section id="home" class="section home-section">
    <div class="home-container">
        <h1 class="hero-title">hi, i'm asteria!</h1>
        <p class="hero-summary">
            this is a very boring blob of text no one will ever read and will get replaced!
        </p>
    </div>
    <hr/>
</section>

<style>
.home-section {
    display: block;
    margin-top: 40px; 
}

.home-container {
    text-align: left;
    margin: 0 auto;
    max-width: 900px; 
}

hr {
    border: none;
    border-top: 1.9px solid #1e1e1e;
    margin: 20px auto;
    max-width: 900px;
    width: 100%;
}
</style>