<section id="home" class="section">
    <div class="home-container">
        <h1 class="hero-title">hi, i'm asteria!</h1>
        <p class="hero-summary">
            this is a very boring blob of text no one will ever read and will get replaced!
        </p>
    </div>
</section>