---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutSection from '../components/sections/About.astro';
---

<BaseLayout>
    <main class="main-content">
        <AboutSection />
    </main>
</BaseLayout>
