---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Home from '../components/sections/Home.astro';
import About from '../components/sections/About.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';
---

<BaseLayout>
    <Navbar />
    
    <main class="main-content">
            <section id="home" class="section">
                <Home />
            </section>
            
            <section id="about" class="section">
                <About />
            </section>
            
            <section id="projects" class="section">
                <Projects />
            </section>
            
            <section id="contact" class="section">
                <Contact />
            </section>
    </main>
</BaseLayout>