---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Home from '../components/sections/Home.astro';
import About from '../components/sections/About.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';
---

<BaseLayout>
    <Navbar />
    
    <main class="main-content">
        <Home />
        <About />
        <Projects />
        <Contact />
    </main>
</BaseLayout>