---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsSection from '../components/sections/Projects.astro';
---

<BaseLayout>
    <main class="main-content">
        <ProjectsSection />
    </main>
</BaseLayout>
