---
import '../styles/global.css';
import Footer from '../components/Footer.astro'
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>asteria.moe</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <slot />
  <Footer />  <!-- <- add this here -->
</body>
</html>
